ul,ol {list-style: none;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
#xxx{
    display:block;
}
.actions{
    position: fixed;   /*绝对定位*/
    top: 0;
    left: 0;
    padding: 20px;
}
.actions svg{
    width: 2em;
    height: 1.5em;
    transition: all 0.3s;   /*让点击之后会有0.3的延迟*/
    margin: 0 10px;        /*让icon的左右有一点边距*/
}
.actions svg.active{
    fill:red;
    transform: scale(1.2); /*让图片被点击的时候变大一点*/
}
.color{
    position: fixed;
    top: 50px;
    left: 28px;
}
.color >li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 10px 0;
}
.color > li.red{
    background: red;
}
.color > li.green{
    background: green;
}
.color > li.blue{
    background: blue;
}
